section#block_deals.section.section3
  .content
    .title
      h2 Прошедшие сделки
      span.status Онлайн
    .slider 
      .slider__block
        .card.conner
          h3.card__title NEAR/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 58.6206%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title BTC/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 6.02%
          .card__bottom 
            span.card__goal Цель 3
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title ETH/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 16.3%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title NEAR/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 0.963%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title NEAR/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 58.6206%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title NEAR/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 58.6206%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title NEAR/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 58.6206%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

        .card.conner
          h3.card__title NEAR/USDT
          p.card__time 
            span.card__span1 SPOT · 
            span.card__span2 1 мин. назад
          h4.card__result Прибыль
          p.card__number 58.6206%
          .card__bottom 
            span.card__goal Цель 4
            span.card__data Дата входа 06.10.2022

  .border.conner
  