section#block_about.section.section4.light
  .content
    .title
      h2 О компании
      p Мы опытная команда, для которой трейдинг – профессия. TradeBlade является авторизованным официальным брокером биржи Binance. 
      p Он представляет пользователям множество преимуществ, таких как более високая скорость синхронизации API и возможность создать учетную запись Binance через платформу TradeBlade всего в 1 клик.
    .purple 
      p Попробуйте сейчас и получите 5 дней бесплатного пользования
      form 
        .input-block
          input.input(type="email" placeholder="Ваш e–mail")
          button.btn попробовать