section.section.section1
  .content
    .block1
      img(src="./images/section1_img1.png", alt="Курс етеріуму на сьогодні")
    .block2
      .title
        h1 моментально Копируй сделки профи трейдеров
        p Начни копировать сделки с успешной командой профессиональных трейдеров в автоматическом режиме.
      form 
        .input-block
          input.input(type="email" placeholder="Ваш e–mail")
          button.btn начать
      span 5 дней бесплатного пользования
      
  .border.conner