section#block_tariffs.section.section7
  .content
    h2 тарифы
    .block-btn
      button.btn-trf.btn-trf_active СПОТ
      button.btn-trf фьючерс
    .price
      .card
        h3 STANDART
        ul 
          li Ручной трейдинг
          li Автоматическое или полуавтоматическое копирование сделок
          li Личный кабинет со статистикой
          li Среднесрочные сделки с уровнями набора портфеля
        .row
          p.sum $234
            span.discount -35%
          .select_custom
            select.select(name="month" value="12")
              option.option(value="12") 12 месяцев
              option.option(value="6") 6 месяцев
              option.option(value="3") 3 месяцев
              option.option(value="2") 2 месяца
              option.option(value="1") 1 месяц
        button.btn Попробовать
          span 5 дней бесплатно
          
      .card.card_vip
        h3 VIP
        ul 
          li Ручной трейдинг
          li Автоматическое или полуавтоматическое копирование сделок
          li Личный кабинет со статистикой
          li Среднесрочные сделки с уровнями набора портфеля
          li Доступ в Vip чат с командой
          li Наш авторский курс по трейдингу
        .row
          p.sum $585
            span.discount -35%
          .select_custom
            select.select(name="month" value="12")
              option.option(value="12") 12 месяцев
              option.option(value="6") 6 месяцев
              option.option(value="3") 3 месяцев
              option.option(value="2") 2 месяца
              option.option(value="1") 1 месяц
        button.btn Попробовать
          span 5 дней бесплатно