section#block_numbers.section.section2.light
  .content
    .title
      h2 Цифры
      span Cентябрь 2022
    dl.numbers
      div.block
        dt Торговой прибыли
        dd 2756%
      div.block
        dt фьючерсных и спотовых сделок
        dd 67
      div.block
        dt прибыль подписчиков
        dd 375000