footer.footer 
  .content
    .block
      p.text Быстрая навигация
      nav.nav-footer 
        a(href='#block_numbers') Цифры
        a(href='#block_deals') Сделки онлайн
        a(href='#block_about') О компании
        //- a(href='#block_start') Как начать
        a(href='#block_tradeblad') tradeblad это
        a(href='#block_tariffs') Тарифы
        //- a(href='#block_reviews') Отзывы
        a(href='#block_faq') FAQ

    hr.footer__hr
    .block
      a.logo(href='#') 
        img(src="./images/logo_text.svg", alt="Logo")
      p.data © 2022 TradeBlade. All rights reserved