header.header
  .content
    a.logo(href='#') 
      img(src="./images/logo_text.svg", alt="Logo")
    nav.nav 
      a(href='#block_numbers') Цифры
      a(href='#block_deals') Сделки онлайн
      a(href='#block_about') О компании
      a(href='#block_start') Как начать
      a(href='#block_tariffs') Тарифы
      a(href='#block_reviews') Отзывы
      a(href='#block_faq') FAQ
    .login
      button.btn вход
      button.btn.btn-dark регистрация

header.header-mobile
  .content 
    a.logo(href='') 
      img(src="./images/logo_text.svg", alt="Logo")
    button.icon#open-menu
      img(src="./images/menu.svg", alt="Open Menu")

#overlay.overlay 
  #menu.mobile-menu 
    button.icon#close-menu
      img(src="./images/cross.svg", alt="Close Menu")
    nav.nav-mobile 
      a(href='#block_deals') Сделки онлайн
      a(href='#block_numbers') Цифры
      a(href='#block_about') О компании
      a(href='#block_start') Как начать
      a(href='#block_tariffs') Тарифы
      a(href='#block_reviews') Отзывы
      a(href='#block_faq') FAQ
    .login
      button.btn вход
      button.btn.btn-dark регистрация