extends components/layout

block content
  main.main
    block section1
      include sections/section1

    block section2
      include sections/section2

    block section3
      include sections/section3

    block section4
      include sections/section4

    //- block section5
      include sections/section5

    //- block section6
      include sections/section6

    block section7
      include sections/section7

    //- block section8
      include sections/section8

    block section9
      include sections/section9

