:root {
  --white: #FFFFFF;
  --white_transparent: #ffffff33;
  --light: #E7F7F8;
  --dark: #030718;
  --black: #000000;
  --black_transparent: #000000cc;

  --blue: #57E1FF;
  --blue_hover: #45abc2;
  --blue_transparent: #57e0ff33;

  --purple1: #6A54FF;
  --purple1_transparent: #6b54ff66;
  --purple2: #201A4F;
  --purple3: #434f7066;
  --purple4: #6073A1;
  --purple5: #4A3BB3;
  --green: #35FF9E;

  --gray1: #EAEFF0;
}